:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, .8);
}

@font-face {
    font-family: NeonClub;
    src: url('https://raw.githubusercontent.com/rehoffmann/resources/main/NEON%20CLUB%20MUSIC.otf');
}

html{
    box-sizing: border-box;
    font-size: 100%; /*set font size on root for rem and em usage*/ 
    color: var(--dark);
}


body{
    margin: 0;
    background-color:black;
    line-height: 1;
    font-size:.75em;
    font-family: 'NeonClub', 'Lucida Sans Regular', 'Lucida Grande';
}

h1, h2, h3 {
    font-family: 'NeonClub', 'Arial', 'monospace';
}

.me{

    display: block;
    margin: 0 auto;

}

.header{
    text-align: center; /* Centers the text */
  font-size: 5em; /* Adjusts the font size to an appropriate header size using em units */
color: blue;
  text-shadow: 0 0 5px white; /* Adds a 3px white text shadow */
}

.subhead{
    color: white; font-family: monospace, sans-serif; font-size: 1.5rem; text-align: center;
}

.body{
    color: white; font-family: monospace, sans-serif; font-size: 1rem; text-align: left; padding: 10px 50px;

}